<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    link(rel="stylesheet", href="index.css")
    title Social share button hover effects | CSS
  body
    .container
      ul.nav-list
        each val, i in [{class:'fa-instagram', titre: 'codwerk',rs:'ig'} , {class:'fa-gitlab', titre: 'codwerk', rs:'gl'}, {class:'fa-github', titre: 'codwerk', rs:'gh'},{class:'fa-codepen', titre: 'codwerk', rs:'cp'}]
          li.nav-item
            a.nav-link
              i.fab(class=val.class)
