/* Color Theme Swatches in Hex */
body {
  font-family: 'circular std', sans-serif;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  body a {
    text-decoration: none; }
  body .container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: #D98289;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .container .nav-list {
      position: relative;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 240px;
      height: 72px;
      cursor: pointer;
      overflow: hidden;
      border-radius: 80px;
      border: 1px solid #fff;
      background-color: #D96277;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      body .container .nav-list:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
        body .container .nav-list:hover::after {
          -webkit-transition-delay: .25s;
          -o-transition-delay: .25s;
          transition-delay: .25s;
          left: -15em; }
        body .container .nav-list:hover .nav-item .nav-link i {
          opacity: 1;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
      body .container .nav-list:after {
        content: 'Share';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 20px;
        border-radius: 80px;
        color: #fff;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: all 1.2s ease;
        -o-transition: all 1.2s ease;
        transition: all 1.2s ease; }
      body .container .nav-list .nav-item {
        -webkit-transition: all 480ms ease;
        -o-transition: all 480ms ease;
        transition: all 480ms ease; }
        body .container .nav-list .nav-item:hover {
          -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.5); }
          body .container .nav-list .nav-item:hover a i {
            color: #fff; }
        body .container .nav-list .nav-item .nav-link i {
          opacity: 0;
          -webkit-transform: scale(0.1);
          -ms-transform: scale(0.1);
          transform: scale(0.1);
          font-size: 20px;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
          body .container .nav-list .nav-item .nav-link i.fa-codepen {
            -webkit-transition-delay: .4s;
            -o-transition-delay: .4s;
            transition-delay: .4s; }
          body .container .nav-list .nav-item .nav-link i.fa-github {
            -webkit-transition-delay: .7s;
            -o-transition-delay: .7s;
            transition-delay: .7s; }
          body .container .nav-list .nav-item .nav-link i.fa-gitlab {
            -webkit-transition-delay: .9s;
            -o-transition-delay: .9s;
            transition-delay: .9s; }
          body .container .nav-list .nav-item .nav-link i.fa-instagram {
            -webkit-transition-delay: 1.1s;
            -o-transition-delay: 1.1s;
            transition-delay: 1.1s; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

td:not([align]), th:not([align]) {
  text-align: left; }
